<!DOCTYPE html>
<html>
  <head>
    <title ><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel ="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="testbox">
      <form action="/">
        <div class="banner" id="banner" >
          <img src="/images/<%= imageId%>.png" alt="">
        </div>
        <div class="item">
          <p>Your Answer</p>
          <input type="text" id = "answer" name="answer"/>
        </div>
        <div class="btn-block">
          <button id = "submitbtn" type="Submit">Submit</button>
        </div>
      </form>
    </div>
  <script>jQuery(document).ready(
    function($) {
      $("form").on('submit', function(event){
        event.preventDefault();
      });
      var title = "<%= title %>";
      $("#submitbtn").click(function(event) {
            var data = {}
            data["answer"] = $("#answer").val();
            data["title"] = title; 
            $.ajax({
                     type: "POST",
                     contentType: "application/json",
                     url: "/submit/",
                     data: JSON.stringify(data),
                     dataType: 'json',
                     timeout: 600000,
                     success: function (data) {
                      window.location.href = data.url;
                     },
                     error: function (error) {
                        console.log(error)
                        alert("The Answer was wrong !: "); 
                     }
            });
        });
    });
    </script>  
  </body>
</html>