<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel ="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="testbox">
      <form action="/start">
        <div class="banner" id="banner">
            <img src="/images/<%= imageId%>.png" alt="">
        </div>
      </form>
    </div>
    </body>
</html>